<h1>Editing orderproduct</h1>

<%= render "form", orderproduct: @orderproduct %>

<br>

<div>
  <%= link_to "Show this orderproduct", @orderproduct %> |
  <%= link_to "Back to orderproducts", orderproducts_path %>
</div>
